<!DOCTYPE html>
<html>

<head>
<title>Magic Events</title>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style_event.css')}}>
<script type="text/javascript" src={{ url_for('static', filename='script_event.js')}}></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
</head>

<body onload="show( {{index}})">


<div id="wrapper">

<header>

<nav id="menu">

<div id="logo">
    <img id="logo_image" src={{ url_for('static', filename='photos/confetti.png')}}/>
    <b>MAGIC EVENTS</b>
</div>

<div id="menu_option">
        <div><a href="/return" class="button" id="button_return_ticket">RETURN TICKET</a></div>
        <div class="buttons_div"><a href="/" class="button" id="button_home">HOME</a></div>
</div>

</nav>

</header>

<div class="content">
    <div id="div_information">

    </div>


    <div class="login_window" id="id_login_window">
        <div class="div_text_login">
            <b class="login_text">Enter Login:</b>
        </div> 
        <div class="enter_input">
            <input type="text" class="inputs" id="input_login"> 
        </div>
            
        <div class="div_text_login">
            <b class="login_text">Enter password:</b>
        </div> 

        <div class="enter_input">
            <input type="password" class="inputs" id="input_password">  
        </div>

        <div id="div_submit" onclick="submit({{index}});" style="cursor: pointer;">
            <b class="button" id="button_submit">SUBMIT</b>
        </div>

        <div id="div_code">
            <b id="code"></b>
        </div>

    
    </div>



</div>




</div>



</body>


</html>
